<div class="program-three__top-shape"></div>
<div class="program-three__top-bg">
    <div class="program-three__top-bg__inner"
        style="background-image: url({{'assets/images/shapes/program-bg-shape-3.png'|theme}});"></div>
</div>
<div class="container">
    <div class="sec-title text-center">

        <h6 class="sec-title__tagline">Our Services</h6>

        <h3 class="sec-title__title">Lorem Ipsum is simply <br> dummy text of the printing and typesetting
            industry.
        </h3>
    </div>
    <div class="row gutter-y-30">
        <div class="col-xl-3 col-md-12">
        </div>
        <div class="col-xl-3 col-md-12">
            <div class="program-three__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'
                style='--accent-color: #75C137;'>
                <div class="program-three__item__image">
                    <img src="{{'assets/images/program/program-3-2.jpg'|theme}}" alt="Preschool">
                </div><!-- /.program-one__item__image -->
                <div class="program-three__item__content">
                    <a href="index.html" class="footer-widget__logo"
                        style="display: flex; justify-content: center; align-items: center;">
                        <img src="http://www.pampermebali.com/images/logo-m.png" style="
                        height: 3rem;
                        width: auto;
                    "
                            alt="Kidearn HTML Template">
                    </a>
                    <h3 class="program-three__item__title"><a href="#">Mobile Day Spa</a>
                    </h3><!-- /.program-three__item__title -->
                    <!-- /.program-three__item__age -->
                    <p class="program-three__item__text">Relax Pamper Me Mobile Day Spa in Bali offers convenient spa
                        services for all ages, including massages and scrubs, with a focus on hygiene.</p>
                    <!-- /.program-three__item__text -->
                    <a class="#" href="#">Show Detail</a><!-- /.program-three__item__text -->
                </div><!-- /.program-three__item__content -->
            </div><!-- /.program-three__item__one -->
        </div>
        <div class="col-xl-3 col-md-12">
            <div class="program-three__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'
                style='--accent-color: #2390FF;'>
                <div class="program-three__item__image">
                    <img src="{{'assets/images/program/program-3-3.jpg'|theme}}" alt="Kindergarten">
                </div><!-- /.program-one__item__image -->
                <div class="program-three__item__content">
                    <a href="index.html" class="footer-widget__logo"
                        style="display: flex; justify-content: center; align-items: center;">
                        <img src="http://www.pampermebali.com/images/logo1.png" style="
                            height: 3rem;
                            width: auto;
                        " alt="Kidearn HTML Template">
                    </a>
                    <h3 class="program-three__item__title"><a href="programs-d-kindergarten.html">Salon SPA Baby &
                            Kids</a></h3>
                    <!-- /.program-three__item__title -->
                    <!-- /.program-three__item__age -->
                    <p class="program-three__item__text">Pamper Me supports children's development through body care
                        education, offers trusted specialized facilities, and emphasizes genuine care.</p>
                    <!-- /.program-three__item__text -->
                    <a class="#" href="#">Show Detail</a>
                </div><!-- /.program-three__item__content -->
            </div><!-- /.program-three__item__one -->
        </div>
        <div class="col-xl-3 col-md-12">
        </div>
    </div>
</div>